
<div class="container-fluid apis">

    <button class="btn btn-primary btn-sm" ng-click="addNewApiModal()">
        <i class="fa fa-plus"></i>
        Add new component
    </button>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th></th>
                <th>Component ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
                <th>Has UI</th>
                <th>Flags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="api in apis | orderBy:'id' track by api.id ">
                <td>
                    <img width="32" height="32" src="{{ api.ico32 }}" ng-show="api.ico32"/>
                </td>
                <td>{{ api.id }}</td>
                <td>{{ api.type }}</td>
                <td>{{ api.name }}</td>
                <td>{{ api.description }}</td>
                <td>{{ api.uri }}</td>
                <td>{{ api.hasUI }}</td>
                <td>
                  <span ng-repeat="flag in api.flags">
                    {{ flag }}
                  </span>
                </td>
                <td>
                    <span class="pull-right">
                        <a class="btn btn-sm btn-default" ng-click="openEditModal(api)">
                            <i class="fa fa-cog fa-fw"></i>
                        </a>
                        <a class="btn btn-sm btn-default"
                           kb-confirm
                           header="Delete API"
                           message="Are you sure you want to delete <strong>{{ api.id }}</strong>?"
                           confirm-label="Delete"
                           confirm-type="danger"
                           on-confirm="deleteApi(api)"
                                >
                            <i class="fa fa-trash-o fa-fw"></i>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
