<form name="form" class="form form-horizontal modal-form">
        <div class="modal-header">
                <button type="button" class="close" ng-click="close()">×</button>
          <h4 class="modal-title">
                        Edit component {{ api.id }}
          </h4>
        </div>
        <div class="modal-body">
                <div class="alert alert-error" ng-show="error">
                  <button type="button" class="close" ng-click="resetError()" >&times;</button>
                  {{ error }}
                </div>


        <div class="form-group">
            <label class="control-label col-sm-4" for="apiUrl">URL</label>
            <div class="col-sm-6">
                <input type="url" class="form-control"  id="apiUrl" placeholder="https://syrup.keboola.com/ex-google-analytics" ng-model="api.uri">
            </div>
        </div>

        <div class="form-group">
              <label class="control-label col-sm-4" for="documentationUrl">Documentation URL</label>
              <div class="col-sm-6">
                <input type="url" class="form-control"  id="documentationUrl" placeholder="https://ex-sample.apiary.io"  ng-model="api.documentationUrl">
              </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="type">Type</label>
            <div class="col-sm-6">
                <select ng-model="api.type" id="type" class="form-control">
                    <option value="extractor">Extractor</option>
                    <option value="transformation">Transformation</option>
                    <option value="writer">Writer</option>
                    <option value="application">Application</option>
                    <option value="recipe">Recipe</option>
                    <option value="processor">Processor</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="name">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  id="name" placeholder="Google Analytics"  required  ng-model="api.name">
                                                                <span class="help-block">
                                                                        Should contain only name of service <strong>don't</strong> append extractor or writer to it ...
                                                                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="description">Description</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  id="description" placeholder="Web analytics & reporting" ng-model="api.description">
                                                                <span class="help-block">
                                                                        Use service claim, max. one sentence.
                                                                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="api.hasUI"> Has UI
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">
                Icons Upload
            </label>
            <div class="col-sm-6">
                <p class="help-block">
                <ul class="help-block">
                    <li>Upload icon into <strong>kbc-static</strong> S3 bucket</li>
                    <li>Icon path should be <strong>images/cloud-services/{component-id}-{icon-size}-{icon-version}.png</strong></li>
                    <li><strong>Never</strong> overwrite existing icon, instead increment <strong>icon-version</strong></li>
                    <li>S3 bucket content is distributed by Cloudfront CDN, please paste image URL as:
                        https://d3iz2gfan5zufq.cloudfront.net/images/cloud-services/{component-id}-{icon-size}-{icon-version}.png
                    </li>
                </ul>

                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="ico32">32px icon path</label>
            <div class="col-sm-6">
                <input type="url" class="form-control"  id="ico32" ng-model="api.ico32">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="ico64">64px icon path</label>
            <div class="col-sm-6">
                <input type="url" class="form-control"  id="ico64" ng-model="api.ico64">
            </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="data">Data</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="10" id="data" ng-model="api.data" kb-json-edit></textarea>
            <p class="help-block">Optional component JSON configuration</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="flags">Flags</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="10" id="flags" ng-model="api.flags" kb-json-edit></textarea>
            <p class="help-block">Array of string flags</p>
          </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="longDescription">Long description</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="10" id="longDescription" ng-model="api.longDescription"></textarea>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-4" for="data">Configuration schema</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="10" id="configurationSchema" ng-model="api.configurationSchema" kb-json-edit></textarea>
                <p class="help-block">Configuration JSON schema, optional</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="data">Configuration description</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="10" id="configurationDescription" ng-model="api.configurationDescription"></textarea>
                <p class="help-block">Configuration description, markdown, optional</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="data">Empty configuration</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="10" id="emptyConfiguration" ng-model="api.emptyConfiguration" kb-json-edit></textarea>
                <p class="help-block">Empty configuration JSON, optional</p>
            </div>
        </div>


  </div>

        <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()" type="button">Close</button>
                <button class="btn btn-primary"  ng-click="save(api)" ng-disabled="form.$invalid" type="submit">Save</button>
        </div>
</form>
